@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Noticia+Text:400,700');

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/*
 * Code font settings.
 */

code {
    @apply .font-mono;
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: "calt" 1;
}

/*
 * Post content.
 */

.post-content p {
    @apply .mb-6 .font-serif;
    line-height: 1.86em;
}

/*
 * Pattern background.
 */

.bg-pattern {
    background: url('../img/ecailles.png');
}

/*
 * Footer.
 */

.footer {
    @apply .bg-grey-lightest .border-t .border-grey-light;
    margin-top: 4rem;
    padding: 4rem 0 2rem 0;
}

.footer p {
    @apply .text-grey-darkest;
}

.footer a {
    @apply .text-grey-darkest;
}